node_modules/
.env
*.rar
*.zip
*.exe
fabric-samples/
fabric-ca-binaries.tar.gz
"AI Models/Enery demand Model/""
"AI Models/Machine Maintenance Prediction Model/"
"AI Models/Workers-safety-detection/"
energy-trading-network/chaincode/energy-token-chaincode
